#userInfoContainer {
    display: flex;
    justify-content: center;
}

#userInfoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px dashed black;
}

#userInfoBox p {
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    border-bottom: 1px dashed black; 
    font-weight: bold;
}
