.singleUserBox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px dashed black;
    align-items: center;
    max-width: 200px;
    min-height: 150px;
    padding: 5px;
    margin: 10px;
}

.singleUserBox h2, p{
    margin: 0px;
    padding: 0px;
}