:root{
    --yellow: #f2b33d;
    --orange: #f27405;
    --red: #a62f03;
    --brown: #400101;
    --black: #0d0d0d;
}


.componentParent {
    display: flex;
    justify-content: center;
}

.clockParent {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
    width: 90%;
    background-color: var(--brown);
    align-items: center;
    justify-content: space-around;
}

.clockTitle {
    color: var(--orange);
    display: flex;
    align-items: center;
    padding: 5px;
    max-width: 90%;
    max-height: 15%;
    border: 1px solid var(--yellow);
}

.timerParent {
    display: flex;
    box-sizing: border-box;
    max-height: 65%;
    justify-content: space-around;
    background-color: var(--red);
    width: 90%;
}

.timerBox {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleBox {
    color: var(--yellow);
    height: 30px;
}

.numberBox {
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    font-size: 300%;
    background-color: var(--yellow);
    height: 100px;
    width: 100px;
}

.tagParent {
    max-height: 10%;
    box-sizing: border-box;
}