#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchedUserBox {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#searchedUserBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}