.HomePageParent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sideBar {
    width: 15%;
}

.mainBox {
    width: 70%;
}

.myInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border: 2px dashed black;
}

.myInfoBox h1, .myInfoBox h2 {
    margin: 0px;
    padding: 0px;
}

.infoLogoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goSideways {
    display: flex;
}

.myInfoLogos {
    width: 75%;
    box-sizing: border-box;
    margin: 10px;
}