.navParent {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 200%;
    text-decoration: none;
    box-sizing: border-box;
    border-left: 2px dashed black;
    border-bottom: 2px dashed black;
    margin: 10px;
    color: black;
}

.logo h1 {
    font-size: 300%;
    margin: 0px;
}

.navLogo {
    height: 100px;
}

.buttonParent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

.button {
    text-decoration: none;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}