.navParent {
    width: 100%;
    height: 125px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 200%;
}

.navLogo {
    height: 100px;
}

.buttonParent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.button {
    text-decoration: none;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}